<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leledevelopers.smartirrigation">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".Screen_10"
            android:exported="true" />
        <activity
            android:name=".Screen_9"
            android:exported="true" />
        <activity
            android:name=".Screen_8"
            android:exported="true">

        </activity>
        <activity
            android:name=".Screen_7"
            android:exported="true" />
        <activity
            android:name=".Screen_6"
            android:exported="true"></activity>

        <activity
            android:name=".Screen_5"
            android:exported="true">

        </activity>
        <activity
            android:name=".MainActivity_GSM"
            android:exported="true"
            android:launchMode="singleTask" >

        </activity>
        <activity
            android:name=".registration.Screen_2_1"
            android:exported="true"
            android:launchMode="standard" />
        <activity
            android:name=".registration.Screen_1"
            android:exported="true"
            android:launchMode="standard" />
        <activity
            android:name=".registration.screen_2_2"
            android:exported="true"
            android:launchMode="standard" />
        <activity
            android:name=".Screen_4"
            android:exported="true"
            android:launchMode="singleTask">

        </activity>
        <activity
            android:name=".starter.splashScreen"
            android:exported="true"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>